.tela-menu {
    width: 100%;
    min-height: 100vh;
    background-color: $color-neutral-100;
    background-image: url('../data/imagens/menu/bg-menu.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;

    .tela-menu-conteudo {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .lista-menu{
        list-style-type: none;
        margin: 0 auto;
        width: 100%;
        
        &:hover{
            cursor: grab;
        }
        
        &:active{
            cursor: grabbing;
        }

        .slick-slide{
            position: relative;
            margin: 0 50px;

            .wrap-img{
                height: 300px;
               width: 100%;
               background-size: contain;
               background-repeat: no-repeat;
               background-position: center center;
               

               @include small-only{
                background-size: cover;
                margin-bottom: $spacing-xxxs;
               }

               @include large-up {
                height: 250px;
                margin-bottom: $spacing-xxs;
               }

               @include big-large {
                height: 480px;
                margin-bottom: $spacing-lg;
               }
               
            }

            .wrap-item{
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: center;
                width: 100%;
                height: 100%;
                

                // &:after{
                //     display: block;
                //     content: '';
                //     position: absolute;
                //     z-index: 1;
                //     inset: 50% 0 0 0;
                //     background: $color-neutral-100;
                //     background: linear-gradient(180deg, rgba($color-neutral-100, 0) 0%, rgba($color-neutral-100,1) 100%);
                // }
                
                .wrap-texto{
                    position: relative;
                    z-index: 2;
                    text-align: center;
                    padding-bottom: 30px;
                }
            }

            @for $var from 1 through 10 {
                &:nth-child(#{$var}){
                    .wrap-img{
                        background-image: url('../data/imagens/menu/img-#{$var}.jpg');
                    }
                }
                
            }
        }
    }

    .nav-slider{
        
        margin-top: 0;

        @include big-large {
            margin-top: $spacing-xxs;
        }

        .slick-arrow{
            background-color: $color-neutral-90;
            
            transition: .3s;
            cursor: pointer;

            @include medium-down{
                width: 80px;
                height: 80px;
            }

            @include large-up {
                width: 65px;
                height: 65px;
            }
    
            @include big-large {
                width: 96px;
                height: 96px;
            }

            &.slick-disabled{
                opacity: 0.1;
                cursor: not-allowed;
            }

            &::before{
                color: $color-neutral-50;
            }

            &:hover{
                box-shadow: none;
                background-color: $color-neutral-100;
            }
        }

        .slick-prev{
            left: 40%;

            @include medium-only {
                left: 30%;
            }

            @include small-only {
                left: 10%;
            }
        }

        .slick-next{
            right: 40%;

            @include medium-only {
                right: 30%;
            }

            @include small-only {
                right: 10%;
            }
        }

    }

    [class*="titulo"] {
        color: #fff;
        margin: $spacing-nano 0 0;

        @include medium-down {
            font-size: $font-size-lg;
        }

        @include large-up {
            font-size: $font-size-xl;
        }

        @include big-large {
            font-size: $font-size-xxxl;
        }
    }

    .numero{
        display: inline-block;
        position: relative;
        text-align: center;
        font-family: $font-family-display;
        color: #fff;
        font-weight: 300;

        span{
            font-weight: bold;
        }

        .font-family-dyslexia &{
            font-family: $font-family-base-accessible;
        }

        &::before{
            content: '';
            display: block;
            position: absolute;
            left: -20px;
            top: 20%;
            width: 12px;
            height: 12px;
            background: url('../data/icones/icon-count.svg');
            background-size: contain;
        }
    }

    .btn-acessar-licao{
        border-radius: $border-radius-circular;
        background-color: $color-brand-01-normal;
        box-shadow: 0 0 0 12px rgba($color-brand-01-normal, $opacity-level-light);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: .3s;

        @include medium-down{
            width: 60px;
            height: 60px;
        }

        @include large-up {
            width: 45px;
            height: 45px;
        }

        @include big-large {
            width: 72px;
            height: 72px;
        }

        &:hover{
            // Tokens Shape
            box-shadow: 0 0 0 16px rgba($color-brand-01-normal, $opacity-level-light);
            // width: 80px;
            // height: 80px;
        }

        i{

            &.liberado{
                margin-left: 7px;
            }

            &.bloqueado, &.finalizado{
                display: none;
            }

            svg{

                @include medium-down{
                    width: 32px;
                    height: 32px;
                }

                @include large-up {
                    width: 24px;
                    height: 24px;
                }
        
                @include big-large {
                    width: 32px;
                    height: 32px;
                }
            }
        }

        &.status-liberado{
            
            i.liberado{
                display: flex;
            }
        }

        &.status-finalizado{

            i.liberado{
                display: none;
            }
            
            i.finalizado{
                display: flex;
            }
        }

        &.status-bloqueado{
            cursor: not-allowed;
            
            i.liberado{
                display: none;
            }

            i.bloqueado{
                display: flex;
            }
        }
    }
}

.no-cssfilters{
    
    .slick-slide{
        .wrap-item{
            &::before{
                display: block;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $color-black;
                opacity: .8;
            }
        }

        &.slick-active{
            .wrap-item{    
                &::before{
                    display: none;
                }
            }
        }
    }
        
}

$width-menu-anchor: 450px;
$height-menu-anchor-header: $headerHeight;

.menu-suspenso {
    position: fixed;
    top: 0;
    right: -#{$width-menu-anchor};
    width: $width-menu-anchor;
    top: 0;
    height: 100%;
    background-color: $color-neutral-10;
    color: $corTexto;
    transition: right .3s ease-in-out;
    @include small-only {
        width: 100%;
    }

    .menu-anchor-open & {
        right: 0;
    }

    &__header{
        // Tokens
        height: $height-menu-anchor-header;
        background-color: $color-neutral-60;
        padding: 0 $spacing-xxxs 0 $spacing-xs;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title{
        // Tokens
        font-family: $font-family-display;
        font-weight: $font-weight-500;
        font-size: $font-size-md;
        color: $color-neutral-00;
    }   

    &__close-menu-anchor{
        // Tokens
        background-color: $color-neutral-100;
        color: $color-neutral-00;
        opacity: $opacity-level-light;
        border-radius: $border-radius-circular;
        
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

        &:hover{
            cursor: pointer;
        }
    }

    &__items{
        overflow: auto;
        height: calc(100% - #{$height-menu-anchor-header} );

        li {
            // Tokens
            border-bottom: $border-width-xxs solid $color-neutral-20;
    
            a {
                // Tokens
                background-color: $color-neutral-00;
                height: $height-menu-anchor-header;
                padding: 0 $spacing-xs;
                font-family: $font-family-display;
                font-weight: $font-weight-500;
                font-size: $font-size-sm;
                color: $color-neutral-100;
                gap: $spacing-nano;

                display: flex;
                align-items: center;
                text-decoration: none;
                position: relative;
    
                .numero {
                    // Tokens
                    font-family: $font-family-decorative;
                    font-weight: $font-weight-400;
                    font-size: $font-size-xxxs;
                    color: $color-neutral-100;
                }
    
                &:hover {
                    background-color: $color-neutral-05;

                    &:before{
                        // Tokens
                        width: $border-width-md;
                        background-color: $color-brand-01-dark;

                        display: block;
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                    }
    
                    .numero {
                        color: $color-brand-01-dark;
                    }
                }
            }
        }
    }

}

.menu-acessibilidade{
    position: fixed;
    top: 0;
    right: -#{$width-menu-anchor};
    width: $width-menu-anchor;
    height: 100%;
    background-color: $color-neutral-90;
    color: $corTexto;
    transition: right .3s ease-in-out;
    z-index: 999;

    .menu-acessibilidade-open & {
        right: 0;
    }

    &__header{
        // Tokens
        height: $height-menu-anchor-header;
        background-color: $color-neutral-100;
        padding: 0 $spacing-xxxs 0 0;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__icon{
        width: 64px;
        height: 100%;
        background-color: $color-brand-01-normal;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title{
        // Tokens
        font-family: $font-family-display;
        font-weight: $font-weight-500;
        font-size: $font-size-sm;
        color: $color-neutral-00;
        text-transform: uppercase;
    }   

    &__close-menu-anchor{
        // Tokens
        background-color: $color-neutral-100;
        color: $color-brand-01-normal;
        border-radius: $border-radius-circular;
        
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

        &:hover{
            cursor: pointer;
        }
    }

    &__item{
        color: $color-neutral-00;
        display: block;
        width: 100%;
        padding: $spacing-xxxs $spacing-xxs;
        border: $border-width-xxs solid $color-neutral-80;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .item__info{
            display: flex;
            align-items: center;
        }

        .item__icon {
            color: $color-neutral-50;
            font-size: $font-size-lg;
            margin-right: $spacing-xxxs;
        }

        .item__texto{
            font-size: $font-size-sm;
        }

        .item__input{
            input{
                height: 0px;
                width: 0px;
                font-size: 0px;
                line-height: 0;
                padding: 0;
                margin: 0;
                display: block;
            }
            
            label {
                display: block;
                cursor: pointer;
                text-indent: -9999px;
                width: 90px;
                height: 45px;
                background: $color-neutral-100;
                border-radius: $border-radius-pill;
                position: relative;
                margin: 0;

                &:hover{
                    &::after{
                        background-color: $color-brand-01-normal;
                    }
                }
            }
            
            label:after {
                content: '';
                position: absolute;
                top: 5px;
                left: 5px;
                width: 36px;
                height: 36px;
                background: $color-neutral-50;
                border-radius: $border-radius-circular;
                transition: 0.3s;
            }
            
            input:checked + label {
                background: $color-brand-01-darkest;
            }
            
            input:checked + label:after {
                left: calc(100% - 5px);
                transform: translateX(-100%);
                background-color: $color-brand-01-normal;
            }
            
            label:active:after {
                width: 45px;
                border-radius: $border-radius-pill;
            }
        }

        .item__buttons{
            display: flex;
            align-items: center;
            gap: $spacing-nano;
            background-color: $color-neutral-100;
            border-radius: $border-radius-pill;
            padding: 5px;

            #porcentagemTamanhoFonte{
                margin-bottom: 0;
                font-size: $font-size-sm !important;
            }

            button{
                cursor: pointer;
                background-color: $color-neutral-50;
                width: 36px;
                height: 36px;
                border-radius: $border-radius-circular;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 0;

                i{
                    path{
                        fill: $color-white;
                    }
                }

                &:not(:disabled){
                    &:hover{
                        background-color: $color-brand-01-normal;
                    }
                }

                &:disabled{
                    opacity: 0.4;

                }
            }
        }
    }
}