
.icon-index-mais:before { content: '\e806'; } /* '' */
.icon-index-mouse:before { content: '\e809'; } /* '' */
.icon-index-brilho:before { content: '\e80c'; } /* '' */
.icon-index-seta_direita:before { content: '\e80d'; } /* '' */
.icon-index-seta_esquerda:before { content: '\e80e'; } /* '' */
.icon-index-seta_direita_bold:before { content: '\e812'; } /* '' */
.icon-index-fechar:before { content: '\e818'; } /* '' */
.icon-index-contraste:before { content: '\e81c'; } /* '' */
.icon-index-fonte:before { content: '\e81e'; } /* '' */
.icon-index-dyslexia:before { content: '\e81f'; } /* '' */
.icon-index-cadeado:before { content: '\e820'; } /* '' */
.icon-index-lua:before { content: '\e823'; } /* '' */
.icon-index-play:before { content: '\e825'; } /* '' */
.icon-index-fechar-aspas:before { content: '\e828'; } /* '' */
.icon-index-abrir-aspas:before { content: '\e829'; } /* '' */
.icon-index-check:before { content: '\e82a'; } /* '' */
.icon-index-link:before { content: '\e82b'; } /* '' */
.icon-index-acessibilidade:before { content: '\e905'; } /* '' */
.icon-index-inicio:before { content: '\e906'; } /* '' */
.icon-index-topicos:before { content: '\e907'; } /* '' */
