/* 
    Brand Colors
*/
.bg-color-brand-01-lightest{ 	background-color: $color-brand-01-lightest!important}
.bg-color-brand-01-light{ 		background-color: $color-brand-01-light!important}
.bg-color-brand-01-normal{ 	background-color: $color-brand-01-normal!important}
.bg-color-brand-01-dark{ 		background-color: $color-brand-01-dark!important}
.bg-color-brand-01-darkest{ 	background-color: $color-brand-01-darkest!important}

.bg-color-brand-02-lightest{ 	background-color: $color-brand-02-lightest!important}
.bg-color-brand-02-light{ 		background-color: $color-brand-02-light!important}
.bg-color-brand-02-normal{ 	background-color: $color-brand-02-normal!important}
.bg-color-brand-02-dark{ 		background-color: $color-brand-02-dark!important}
.bg-color-brand-02-darkest{ 	background-color: $color-brand-02-darkest!important}

.bg-color-brand-03-lightest{ 	background-color: $color-brand-03-lightest!important}
.bg-color-brand-03-light{ 		background-color: $color-brand-03-light!important}
.bg-color-brand-03-normal{ 	background-color: $color-brand-03-normal!important}
.bg-color-brand-03-dark{ 		background-color: $color-brand-03-dark!important}
.bg-color-brand-03-darkest{ 	background-color: $color-brand-03-darkest!important}

.bg-color-brand-04-lightest{ 	background-color: $color-brand-04-lightest!important}
.bg-color-brand-04-light{ 		background-color: $color-brand-04-light!important}
.bg-color-brand-04-normal{ 	background-color: $color-brand-04-normal!important}
.bg-color-brand-04-dark{ 		background-color: $color-brand-04-dark!important}
.bg-color-brand-04-darkest{ 	background-color: $color-brand-04-darkest!important}


/* 
    Sematantic Colors
*/
.bg-color-semantic-info-light 		{background-color: $color-semantic-info-light!important}
.bg-color-semantic-info-normal		{background-color: $color-semantic-info-normal!important}
.bg-color-semantic-info-dark  		{background-color: $color-semantic-info-dark!important}

.bg-color-semantic-success-normal 	{background-color: $color-semantic-success-normal!important}
.bg-color-semantic-success-light  	{background-color: $color-semantic-success-light!important}
.bg-color-semantic-success-dark   	{background-color: $color-semantic-success-dark!important}

.bg-color-semantic-warning-light 	{background-color: $color-semantic-warning-light!important}
.bg-color-semantic-warning-normal 	{background-color: $color-semantic-warning-normal!important}
.bg-color-semantic-warning-dark 	{background-color: $color-semantic-warning-dark!important}

.bg-color-semantic-danger-light 	{background-color: $color-semantic-danger-light!important}
.bg-color-semantic-danger-normal 	{background-color: $color-semantic-danger-normal!important}
.bg-color-semantic-danger-dark 	{background-color: $color-semantic-danger-dark!important}


/* 
    Neutral Colors
*/
.bg-color-neutral-100	{background-color: $color-neutral-100!important}
.bg-color-neutral-90	{background-color: $color-neutral-90!important}
.bg-color-neutral-80	{background-color: $color-neutral-80!important}
.bg-color-neutral-70	{background-color: $color-neutral-70!important}
.bg-color-neutral-60	{background-color: $color-neutral-60!important}
.bg-color-neutral-50	{background-color: $color-neutral-50!important}
.bg-color-neutral-40	{background-color: $color-neutral-40!important}
.bg-color-neutral-30	{background-color: $color-neutral-30!important}
.bg-color-neutral-20	{background-color: $color-neutral-20!important}
.bg-color-neutral-10	{background-color: $color-neutral-10!important}
.bg-color-neutral-05	{background-color: $color-neutral-05!important}
.bg-color-neutral-00	{background-color: $color-neutral-00!important}

.bg-color-black {background-color: $color-black}
.bg-color-white {background-color: $color-white}


/*
    Mode Contrast
*/
.bg-color-contrast-text	{background-color: $color-contrast-text!important;}
.bg-color-contrast-black	{background-color: $color-contrast-black!important;}
.bg-color-contrast-yellow	{background-color: $color-contrast-yellow!important;}
.bg-color-focus			{background-color: $color-focus!important;}