/*
    Opacity
*/
.opacity-level-lightest {opacity: $opacity-level-lightest!important;}
.opacity-level-light	{opacity: $opacity-level-light!important;}
.opacity-level-medium	{opacity: $opacity-level-medium!important;}
.opacity-level-intense	{opacity: $opacity-level-intense!important;}