/*
    spacing
*/

.margin-top-spacing-nano   {margin-top: $spacing-nano!important;}
.margin-top-spacing-xxxs   {margin-top: $spacing-xxxs!important;}
.margin-top-spacing-xxs    {margin-top: $spacing-xxs!important;}
.margin-top-spacing-xs     {margin-top: $spacing-xs!important;}
.margin-top-spacing-sm     {margin-top: $spacing-sm!important;}
.margin-top-spacing-md     {margin-top: $spacing-md!important;}
.margin-top-spacing-lg     {margin-top: $spacing-lg!important;}
.margin-top-spacing-xl     {margin-top: $spacing-xl!important;}
.margin-top-spacing-xxl    {margin-top: $spacing-xxl!important;}
.margin-top-spacing-xxxl   {margin-top: $spacing-xxxl!important;}
.margin-top-spacing-huge   {margin-top: $spacing-huge!important;}
.margin-top-spacing-giant  {margin-top: $spacing-giant!important;}

.margin-bottom-spacing-nano   {margin-bottom: $spacing-nano!important;}
.margin-bottom-spacing-xxxs   {margin-bottom: $spacing-xxxs!important;}
.margin-bottom-spacing-xxs    {margin-bottom: $spacing-xxs!important;}
.margin-bottom-spacing-xs     {margin-bottom: $spacing-xs!important;}
.margin-bottom-spacing-sm     {margin-bottom: $spacing-sm!important;}
.margin-bottom-spacing-md     {margin-bottom: $spacing-md!important;}
.margin-bottom-spacing-lg     {margin-bottom: $spacing-lg!important;}
.margin-bottom-spacing-xl     {margin-bottom: $spacing-xl!important;}
.margin-bottom-spacing-xxl    {margin-bottom: $spacing-xxl!important;}
.margin-bottom-spacing-xxxl   {margin-bottom: $spacing-xxxl!important;}
.margin-bottom-spacing-huge   {margin-bottom: $spacing-huge!important;}
.margin-bottom-spacing-giant  {margin-bottom: $spacing-giant!important;}

.padding-spacing-nano   {padding: $spacing-nano!important;}
.padding-spacing-xxxs   {padding: $spacing-xxxs!important;}
.padding-spacing-xxs    {padding: $spacing-xxs!important;}
.padding-spacing-xs     {padding: $spacing-xs!important;}
.padding-spacing-sm     {padding: $spacing-sm!important;}
.padding-spacing-md     {padding: $spacing-md!important;}
.padding-spacing-lg     {padding: $spacing-lg!important;}
.padding-spacing-xl     {padding: $spacing-xl!important;}
.padding-spacing-xxl    {padding: $spacing-xxl!important;}
.padding-spacing-xxxl   {padding: $spacing-xxxl!important;}
.padding-spacing-huge   {padding: $spacing-huge!important;}
.padding-spacing-giant  {padding: $spacing-giant!important;}