/* 
    Brand Colors
*/
.color-brand-01-lightest{ 	color: $color-brand-01-lightest!important}
.color-brand-01-light{ 		color: $color-brand-01-light!important}
.color-brand-01-normal{ 	color: $color-brand-01-normal!important}
.color-brand-01-dark{ 		color: $color-brand-01-dark!important}
.color-brand-01-darkest{ 	color: $color-brand-01-darkest!important}

.color-brand-02-lightest{ 	color: $color-brand-02-lightest!important}
.color-brand-02-light{ 		color: $color-brand-02-light!important}
.color-brand-02-normal{ 	color: $color-brand-02-normal!important}
.color-brand-02-dark{ 		color: $color-brand-02-dark!important}
.color-brand-02-darkest{ 	color: $color-brand-02-darkest!important}

.color-brand-03-lightest{ 	color: $color-brand-03-lightest!important}
.color-brand-03-light{ 		color: $color-brand-03-light!important}
.color-brand-03-normal{ 	color: $color-brand-03-normal!important}
.color-brand-03-dark{ 		color: $color-brand-03-dark!important}
.color-brand-03-darkest{ 	color: $color-brand-03-darkest!important}

.color-brand-04-lightest{ 	color: $color-brand-04-lightest!important}
.color-brand-04-light{ 		color: $color-brand-04-light!important}
.color-brand-04-normal{ 	color: $color-brand-04-normal!important}
.color-brand-04-dark{ 		color: $color-brand-04-dark!important}
.color-brand-04-darkest{ 	color: $color-brand-04-darkest!important}


/* 
    Sematantic Colors
*/
.color-semantic-info-light 		{color: $color-semantic-info-light!important}
.color-semantic-info-normal		{color: $color-semantic-info-normal!important}
.color-semantic-info-dark  		{color: $color-semantic-info-dark!important}

.color-semantic-success-normal 	{color: $color-semantic-success-normal!important}
.color-semantic-success-light  	{color: $color-semantic-success-light!important}
.color-semantic-success-dark   	{color: $color-semantic-success-dark!important}

.color-semantic-warning-light 	{color: $color-semantic-warning-light!important}
.color-semantic-warning-normal 	{color: $color-semantic-warning-normal!important}
.color-semantic-warning-dark 	{color: $color-semantic-warning-dark!important}

.color-semantic-danger-light 	{color: $color-semantic-danger-light!important}
.color-semantic-danger-normal 	{color: $color-semantic-danger-normal!important}
.color-semantic-danger-dark 	{color: $color-semantic-danger-dark!important}


/* 
    Neutral Colors
*/
.color-neutral-100	{color: $color-neutral-100!important}
.color-neutral-90	{color: $color-neutral-90!important}
.color-neutral-80	{color: $color-neutral-80!important}
.color-neutral-70	{color: $color-neutral-70!important}
.color-neutral-60	{color: $color-neutral-60!important}
.color-neutral-50	{color: $color-neutral-50!important}
.color-neutral-40	{color: $color-neutral-40!important}
.color-neutral-30	{color: $color-neutral-30!important}
.color-neutral-20	{color: $color-neutral-20!important}
.color-neutral-10	{color: $color-neutral-10!important}
.color-neutral-05	{color: $color-neutral-05!important}
.color-neutral-00	{color: $color-neutral-00!important}

.color-black {color: $color-black}
.color-white {color: $color-white}


/*
    Mode Contrast
*/
.color-contrast-text	{color: $color-contrast-text!important;}
.color-contrast-black	{color: $color-contrast-black!important;}
.color-contrast-yellow	{color: $color-contrast-yellow!important;}
.color-focus			{color: $color-focus!important;}