/*
    Border Radius
*/
$border-radius-none: 0px;
$border-radius-xs: 4px;
$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-lg: 24px;
$border-radius-xl: 32px;
$border-radius-pill: 500px;
$border-radius-circular: 100%;


/*
	Border Width
*/
$border-width-xxs: 1px;
$border-width-xs: 2px;
$border-width-sm: 3px;
$border-width-md: 4px; 
$border-width-lg: 8px;
$border-width-xl: 16px;
$border-width-xxl: 32px;
$border-width-xxxl: 48px;