/* 
    Brand Colors
*/
$color-brand-01-lightest:   #ebdcf7;
$color-brand-01-light:      #E5CFF7;
$color-brand-01-normal:     #9D76C1;
$color-brand-01-dark:       #713ABE;
$color-brand-01-darkest:    #5B0888;

$color-brand-02-lightest:   #EAE7FF;
$color-brand-02-light:      #BAAFFF;
$color-brand-02-normal:     #7650FF;
$color-brand-02-dark:       #5D22E8;
$color-brand-02-darkest:    #3D139F;

$color-brand-03-lightest:   #FFE2D4;
$color-brand-03-light:      #FF9771;
$color-brand-03-normal:     #FF6C47;
$color-brand-03-dark:       #EF2C18;
$color-brand-03-darkest:    #7E1110;

$color-brand-04-lightest:   #FEE5E8;
$color-brand-04-light:      #F87490;
$color-brand-04-normal:     #EF315E;
$color-brand-04-dark:       #BB1549;
$color-brand-04-darkest:    #800D38;

$color-brand-05-lightest:   #cfd6d4;
$color-brand-05-light:      #93B1A6;
$color-brand-05-normal:     #5C8374;
$color-brand-05-dark:       #183D3D;
$color-brand-05-darkest:    #040D12;

/* 
    Sematantic Colors
*/
$color-semantic-info-light: 	#D2E1FA;
$color-semantic-info-normal:	#0159EF;
$color-semantic-info-dark:  	#2B1BBE;

$color-semantic-success-light:  #E3FAE1;
$color-semantic-success-normal: #1FAD2D;
$color-semantic-success-dark:   #09644E;

$color-semantic-warning-light: 	#FEF4D8;
$color-semantic-warning-normal: #F28E02;
$color-semantic-warning-dark: 	#8C4000;

$color-semantic-danger-light: 	#FDEBE4;
$color-semantic-danger-normal: 	#DB2531;
$color-semantic-danger-dark: 	#830C31;

/* 
    Neutral Colors
*/
$color-neutral-100:#1B1D1F;
$color-neutral-90: #2A3033;
$color-neutral-80: #3C4449;
$color-neutral-70: #47535A;
$color-neutral-60: #5B6971;
$color-neutral-50: #75848C;
$color-neutral-40: #9BA8AD;
$color-neutral-30: #C1CBCE;
$color-neutral-20: #D0D9DB;
$color-neutral-10: #E6ECED;
$color-neutral-05: #F2F7F7;
$color-neutral-00: #FFFFFF;

$color-black: #000;
$color-white: #fff;

/*
    Mode Contrast
*/
$color-contrast-text: #fff;
$color-contrast-black: #000;
$color-contrast-yellow: #FFF000;
$color-focus: #3E98FE;